body {
  margin: 0;}

.hero-container {

  display: flex;
  flex-direction: column;
  
  padding:0 20%;
  height: 100vh;
  background-color: #1f2937;

}
.header {
  background-color: #1f2937;
  color: #f9fafb;
 box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
 width: 100%;
}



.logo {
  font-size: 1.5rem;
  font-weight: bold;
  display:flex;
  align-items: center;
}
.nav-links {
  list-style-type: none;
  display: flex;
  gap: 1rem;
  margin-top: 0.5rem;

}.nav-links a {
  color: #f9fafb;
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.3s ease;
}

.hero-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

 .hero-content img
 {   width: 400px;
     height: auto;
     margin-top: 1rem;
     flex-shrink: 0;
 } 

.hero-text {
  max-width: 600px;
  flex-grow: 1;
}

h1 {
  font-size: 3rem;
  color: #f9fafb;   
    margin-bottom: 1rem;
}
p {
  font-size: 1.5rem;
    color: #f9fafb; 
    margin-bottom: 2rem;
}
button {  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  color: #3882f6;
  background-color: #f9fafb;
  border: none;
  border-radius: 0.375rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
button:hover {  background-color: #e5e7eb;
}
.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
 
}

.cta-container {
  padding: 36px;
  padding: 2rem;
  border-radius: 0.375rem;
  text-align: center;
}
.cta-banner {
  background-color: #3882f6;
  color: #f9fafb;
  padding: 2rem;
  border-radius: 0.375rem;
  text-align: center;
}
.quote-container {
  background-color: #e5e7eb;
}
.footer-container {
  background-color: #1f2937;
  color: #f9fafb;
  padding: 1rem;
  text-align: center;
}